version: '3'

services:
  mysql:
    image: mysql:5.7
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./mysql/:/var/lib/mysql/
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: spug
      MYSQL_DATABASE: spug
      MYSQL_USER: spug
      MYSQL_PASSWORD: spug
    networks:
      - spug
  redis:
    image: redis:5-alpine
    volumes:
      - ./redis/:/data/
    restart: always
    ports:
      - "6379:6379"
    networks:
      - spug
  spug:
    build: 
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    depends_on: 
      - mysql
    ports:
      - "10080:10080"
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_NAME: spug      
      DB_USER: spug
      DB_PASSWORD: spug
      REDIS_HOST: redis
      REDIS_PORT: 6379
    networks:
      - spug

networks:
  spug: